.search_container{
  z-index: 10;
  
  .search_modal {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background: $textColor;
    color: $darkColor;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transform: translateY(-100%);
    transition: 0.4s;

    &.show {
      transform: translateY(0);
    }

    #close_modal {
      background: transparent;
      color: $darkColor;
      cursor: pointer;
      user-select: none;
      font-size: 1rem;
      font-family:'Montserrat', sans-serif;
      text-transform: capitalize;

      &:hover{
        text-decoration: underline;
      }
    }

    #search_form {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .2rem;

      #search_text {
        border: 1px solid $boxBackgrundColor;
        outline: none;
        font-size: 1rem;
        padding: .5rem 1rem;
        border-radius: .2rem;
        transition: .1s;

        &:focus {
          border: 2px solid $boxBackgrundColor;
        }
      }

      button {
        border: none;
        outline: none;
        color: $textColor;
        background: $boxBackgrundColor;
        padding: .5rem 1rem;
        border-radius: .2rem;
        font-size: 1rem;
        border: 1px solid $boxBackgrundColor;
        cursor: pointer;
        user-select: none;
        transition: .1s;
        font-weight: bold;

        &:hover {
          color: $boxBackgrundColor;
          background: $headColor;
        }

        &:active {
          color: $boxBackgrundColor;
          background: $headColor;
        }
      }
    }
  }

  .search {
    position: fixed;
    right: -.5rem;
    top: 10rem;
    border-radius: 50% 0 0 50%;
    overflow: hidden;
    border: none;
    outline: none;
    user-select: none;
    z-index: 10;
    transition: .4s;

    &.hide{
      right: -100%;
    }

    &:hover {
      right: 0;

      span {
        text-shadow: 1px 1px 3px $littleDarkColor;
      }
    }

    span {
      background: $headColor;
      color: $boxBackgrundColor;
      padding: .5rem;
      font-size: 2.5rem;
      cursor: pointer;
      transition: .1s;
    }
  }
}