.search_container{
  z-index: 10;
  width: 100%;
  
  .search_modal {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: $textColor;
    color: $darkColor;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transform: translateY(-100%);
    transition: 0.4s;

    &.show {
      transform: translateY(0);
    }

    #close_modal {
      background: transparent;
      color: $darkColor;
      cursor: pointer;
      user-select: none;
      font-size: 1rem;
      font-family:'Montserrat', sans-serif;
      text-transform: capitalize;
      
      .cancel{
        display: none;
        
        &:hover{
          text-decoration: underline;
        }
      }
      
      .material-icons{
        display: block;
        border-radius: 50%;
        
        &:hover{
          background-color: $headColor;
        }
      }
    }

    #search_form {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: .2rem;
      width: 15rem;
      max-width: 25rem;

      .input_box{
        position: relative;
        width: 100%;

        #search_text {
          width: 100%;
          position: relative;
          border: 1px solid $boxBackgrundColor;
          background-color: $boxBackgrundColor;
          color: $textColor;
          outline: none;
          font-size: 1rem;
          padding: .5rem 1rem;
          padding-right: 3rem;
          border-radius: .2rem;
          transition: .1s;
          
          &:focus {
            font-weight: bold;
          }
  
          &::placeholder{
            color: $shadowColor;
          }  
        }
        .loading{
          width: 40px;
          height: 40px;
          position: absolute;
          right: 0;
          top:50%;
          transform: translate(0,-50%);
        }
      }

      
      .suggestions{
        position: absolute ;
        top: 2.5rem;
        left: 0;
        width: 100%;
        max-height: 10rem;
        background-color: $textColor;
        border: 1px solid $boxBackgrundColor;
        border-radius: 0.2rem;
        overflow-x: hidden;
        overflow-y: scroll;
        list-style: none;

        li{
          width: 100%;
          padding: .5rem 1rem;
          cursor: pointer;

          &:hover{
            background-color: $boxBackgrundColor;
            color: $textColor;
          }
        }
        li:not(:last-child){
          border-bottom: 1px solid $shadowColor;
        }
        
      }

      button {
        border: none;
        outline: none;
        color: $textColor;
        background: $boxBackgrundColor;
        border-radius: .2rem;
        font-size: 1rem;
        border: 1px solid $boxBackgrundColor;
        cursor: pointer;
        user-select: none;
        transition: .1s;
        font-weight: bold;

        .search-btn{
          display: none;
          padding: 0.5rem 1rem;
        }
        .material-icons{
          display: block;
          padding: 0.3rem;
        }
        
        &:hover {
          color: $headColor;
        }
        
        &:active {
          color: $headColor;
        }
      }

    }
  }

  .search {
    position: fixed;
    right: 0;
    top: 10rem;
    border-radius: 50% 0 0 50%;
    overflow: hidden;
    border: none;
    outline: none;
    user-select: none;
    z-index: 10;
    transition: .4s;
    transform:translateX(0.5rem);

    &.hide{
      right: -100%;
    }

    &:hover {
      transform:translateX(0.2rem);

      span {
        text-shadow: 1px 1px 3px $littleDarkColor;
      }
    }

    span {
      background: $headColor;
      color: $boxBackgrundColor;
      padding: .5rem;
      font-size: 2.5rem;
      cursor: pointer;
      transition: .1s;
    }
  }
}